appdirs==1.4.4
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
decorator==5.0.9
idna==3.2
joblib==1.0.1
llvmlite==0.36.0
numpy==1.19.5
packaging==21.0
pooch==1.5.1
pycparser==2.20
pyparsing==2.4.7
requests==2.26.0
scikit-learn==1.0
scipy==1.7.1
SoundFile==0.10.3.post1
threadpoolctl==2.2.0
torch==1.8.0
typing-extensions==3.10.0.2
urllib3==1.26.6
